.btn-success {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-secondary {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary);
}