.btn-success {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-success {
  color: #ffffff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn.btn-success:hover {
  color: #ffffff;
  background-color: #105293;
  border-color:  var(--primary);;
}
.btn.btn-success:focus, .btn.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}
.btn.btn-success.disabled, .btn.btn-success:disabled {
  color: #ffffff;
  background-color: #105293;
  border-color:  var(--primary);;
}
.btn.btn-success:not(:disabled):not(.disabled):active,
.btn.btn-success:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: #105293;
  border-color:  var(--primary);;;
}
.show > .btn.btn-success.dropdown-toggle {
  color: #ffffff;
  background-color: #105293;
  border-color:  var(--primary);;
}
.show > .btn.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}
.btn.btn-success:not(:disabled):not(.disabled):active:focus,
.btn.btn-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 56, 116, 0.5);
}

.btn-secondary {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary);
}
