.btn-login {
  height: 40px;
}

.btn-login:hover {
  background-color: #105293;
  border: 1px solid var(--primary-green-light);
}

.btn-login:active {
  background-color: #105293;
  border: 1px solid var(--primary-green-light);
}

.btn-login:focus {
  background-color: #105293;
  border: 1px solid var(--primary-green-light);
}

.container-fluid-auth {
  background-color: var(--primary-green-light);
}

.bg_image {
  background-color: #eef7e3;
  position: relative;

  img {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 550px;
    padding: 10px;
  }
}

.dp-login {
  padding: 30px 70px;
  background-color: #ffffff;
  height: 100vh;

  .title {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 55px 0;
  }

  h4 {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    margin: 40px 0;
  }

  input.custom_password {
    border-right: white 1px solid;
  }

  .input-group-text {
    background-color: white;
    border-left: white 1px solid;
  }
}

.i_logos {
  display: flex;
  gap: 27px;
  padding: 30px;
  position: absolute;
  right: 0;
}

ul {
  list-style: none;
  border: 1px solid #dae2f3;

  li {
    padding: 5px 20px;

    i {
      margin-right: 10px;
    }
  }
}

.custom_list_pe li:first-child {
  background: #ffdede;
  color: #ff5b5c;
}

.custom_list_cl li:first-child {
  background: #dee8fc;
  color: #5a8dee;
}

.fa-eye-slash,
.fa-eye {
  color: var(--text-color);
}

.fa-eye-slash:hover,
.fa-eye:hover,
.fa-question-circle-o:hover {
  cursor: pointer;
}

.fa-question-circle-o {
  // margin: 0 0 0 10px;
  font-size: 18px;
  position: absolute;
  right: -23px;
}

@media (min-width: 2100px) {
  .dp-login {
    height: 100vh;
  }
}

@media (max-width: 1299px) {
  .dp-login {
    .title {
      font-size: 30px;
    }

    h4 {
      font-size: 20px;
      margin: 30px 0;
    }

  }
}

@media (max-width: 1024px) {
  .bg_image {
    img {
      width: 300px;
    }
  }

  .dp-login {
    padding: 12px 45px;

    .title {
      font-size: 25px;
      margin: 0 0 55px 0;
    }

    h4 {
      font-size: 17px;
      margin: 30px 0;
    }

  }
}

@media (max-width: 768px) {
  .dp-login {
    padding: 30px 40px;

    .title {
      font-size: 30px;
      margin: 0 0 55px 0;
    }

    h4 {
      font-size: 18px;
      margin: 36px 0;
    }
  }
}
