<div>
  <div class="modal-header">
    <h5 class="modal-title mt-0">View Job</h5>
    <button type="button" class="close outline-none" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Date</label>
          <input type="text" class="form-control text-center" disabled value="{{model.date | datetime}}">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control text-left" disabled value="{{model.title}}">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Assigned To</label>
          <input type="text" class="form-control text-center" disabled value="{{model.assigned_to}}">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" disabled value="{{model.description}}" rows="4"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Status</label>
          <input type="text" class="form-control text-center" disabled value="{{model.status}}">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Created At</label>
          <input type="text" class="form-control text-left" disabled value="{{model.created_at | datetime: 'DD/MM/YYYY hh:mm A'}}">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Updated At</label>
          <input type="text" class="form-control text-center" disabled value="{{model.updated_at | datetime: 'DD/MM/YYYY hh:mm A'}}">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <app-map title="Map to show the location of the job" [locations]="[model]" [zoom]="4"></app-map>
      </div>
    </div>

    <div class="modal-footer pt-2">
      <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancelar</button>
    </div>
  </div>
</div>
